:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     203,255,227;
    --color-neutral-100:    126,255,186;
    --color-neutral-200:    49,255,145;
    --color-neutral-300:    0,228,106;
    --color-neutral-400:    0,152,71;
    --color-neutral-500:    0,75,35;
    --color-neutral-600:    0,50,23;
    --color-neutral-700:    0,24,11;
    --color-neutral-800:    0,24,11; 
    --color-neutral-900:    0,0,0;
    
    --color-primary-50:     57,255,20; 
    --color-primary-100:    57,255,20; 
    --color-primary-200:    57,230,20; 
    --color-primary-300:    57,205,20; 
    --color-primary-400:    57,180,20; 
    --color-primary-500:    57,155,20; 
    --color-primary-600:    57,130,18;
    --color-primary-700:    57,105,16;
    --color-primary-800:    57,80,14; 
    --color-primary-900:    57,55,12;  
    
    --color-secondary-50:   57,255,20; 
    --color-secondary-100:  57,230,20; 
    --color-secondary-200:  57,205,20; 
    --color-secondary-300:  57,180,20; 
    --color-secondary-400:  57,155,20; 
    --color-secondary-500:  57,130,18; 
    --color-secondary-600:  57,105,16; 
    --color-secondary-700:  57,80,14;  
    --color-secondary-800:  57,55,12; 
    --color-secondary-900:  57,30,10;
}
